* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

body {
  background: #f6f6f6;
  display: flex;
  height: 100vh;
}

.Todo {
  margin: auto;
  width: 400px;
  background: white;
  box-shadow: 1px 2px 5px rgb(129, 127, 127);
}

#first,
#second,
li {
  width: 100%;
  display: flex;
  height: 40px;
  padding: 0 10px;
  border-bottom: 1px rgb(214, 212, 212) solid;
  align-items: center;
  justify-content: space-between;
}

#input {
  font-style: italic;
  width: 80%;
  outline: none;
  border: none;
}

.bi {
  display: flex;
  float: right;
  color: grey;
  scale: 0.7;
  cursor: pointer;
}

.bi-three-dots-vertical {
  cursor: move;
}

#clear {
  height: 50px;
  display: flex;
  cursor: pointer;
  color: grey;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
}

li {
  padding: 0;
  z-index: 2;
}

li form {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 0 10px;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.on {
  background: #fffeca;
}

.task {
  color: rgb(121, 119, 119);
  background: transparent;
  outline: none;
  font-size: 15px;
  border: none;
  width: 100%;
  height: 100%;
}

#dots {
  scale: 1;
  margin-left: auto;
}
