* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightgrey;
  display: flex;
  height: 100vh;
}

.Todo {
  margin: auto;
  width: 400px;
  background: white;
  box-shadow: 1px 1px 5px black;
}

#first,
#second,
li {
  width: 100%;
  padding: 0 10px;
  display: flex;
  height: 40px;
  border-bottom: 1px rgb(214, 212, 212) solid;
  align-items: center;
  justify-content: space-between;
}

#input {
  font-style: italic;
  width: 80%;
  outline: none;
  border: none;
}

.bi {
  display: flex;
  float: right;
  color: grey;
  scale: 0.7;
}

#clear {
  height: 50px;
  display: flex;
  cursor: pointer;
  color: grey;
  align-items: center;
  justify-content: center;
  background: lightgrey;
}

li {
  justify-content: left;
  color: rgb(121, 119, 119);
  gap: 10px;
}

#dots {
  scale: 1;
  margin-left: auto;
}
